<div class="container">
        <nav class="navbar">
            <div class="nav-content">
                <div class="nav-links">
                    <a routerLink="/accueil" class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Accueil</a>
                    <a routerLink="/experiences" class="nav-link" routerLinkActive="active">Expériences</a>
                    <a routerLink="/projets" class="nav-link" routerLinkActive="active">Projets</a>
                    <a routerLink="/contact" class="nav-link" routerLinkActive="active">Contact</a>
                </div>
                <button class="theme-toggle" (click)="toggleTheme()">
                    <span id="theme-icon">🌙</span>
                </button>
            </div>
        </nav>
</div>
