<div class="container">
        <nav class="navbar">
            <div class="nav-content">
                <div class="nav-links">
                    <a [routerLink]="['/']" fragment="accueil" class="nav-link">Accueil</a>
                    <a [routerLink]="['/']" fragment="experiences" class="nav-link">Expériences</a>
                    <a [routerLink]="['/']" fragment="projets" class="nav-link">Projets</a>
                    <a [routerLink]="['/']" fragment="contact" class="nav-link">Contact</a>                    
                </div>
                <button class="theme-toggle" (click)="toggleTheme()">
                    <span id="theme-icon">🌙</span>
                </button>
            </div>
        </nav>
</div>
