<section class="xp">
<h2 class=""> Expériences professionnelles </h2>

<ul class="xp-list">
    <li class="xp-item">
        <div class="col period">
            <article  class="col card" tabindex="0">
                <header class="card-head">
                    <h3 class="role">
                    <ng-container> </ng-container>
                    <a class="ext" target="_blank" [href]=""> </a>
                </h3>
                <p class="seniority"> </p>
                </header>

                <p class="desc"> </p>
                <ul class="tags" aria-label="Technologies">
                    <li class="chip">

                    </li>
                </ul>
            </article>
        </div>
    </li>
</ul>




</section>
